<div class="flex justify-center pt-6">
  <button type="button" (click)="handleSubmit()" [disabled]="isSubmitting"
          class="bg-orange-600 text-white px-12 py-4 rounded-lg font-semibold hover:bg-orange-700">
    <ng-container *ngIf="isSubmitting; else normal">
      <span class="flex items-center"><i class="ri-loader-4-line animate-spin mr-2"></i>Submitting...</span>
    </ng-container>
    <ng-template #normal>
      <span class="flex items-center"><i class="ri-send-plane-fill mr-2"></i>Submit Registration</span>
    </ng-template>
  </button>
</div>
