<div class="min-h-screen bg-gradient-to-br from-orange-50 via-white to-orange-50">

 
<div class="text-center mb-12">
    <h1 class="text-4xl lg:text-5xl font-bold text-gray-900 mb-4">
      Professional <span class="text-orange-600">Registration</span>
    </h1>
    <p class="text-lg text-gray-600">
      Join our network of trusted professionals and grow your business
    </p>
  </div>

  <!-- MAIN -->
  <main class="max-w-5xl mx-auto px-4 py-12">
   <!-- STEP INDICATOR -->
    <app-step-indicator
      *ngIf="!submitSuccess"
      [currentStep]="currentStep"
      [totalSteps]="3">
    </app-step-indicator> 

    <!-- STEPS -->
    <ng-container *ngIf="!submitSuccess">

   <ng-container [ngSwitch]="currentStep"> 

<!-- (inputChange)="onInputChange($event)" -->

    <app-step1-basic-info
  *ngSwitchCase="1"
  [formData]="formData"
  [errors]="errors"
  (inputChange)="onInputChange($event)"
  (next)="goNextFromStep1()"
  (sendOTP)="openOTP()">
</app-step1-basic-info>

<app-otp-verification
  *ngSwitchCase="2"
  [mobile]="formData.mobile"
  (onVerified)="onOTPVerified()"
  (onBack)="goToStep(1)">
</app-otp-verification>

<app-step2-legal-identity
  *ngSwitchCase="3"
  [formData]="formData"
  [errors]="errors"
  (inputChange)="onInputChange($event)"
  (next)="goNextFromStep3()"
  (back)="goToStep(1)">
</app-step2-legal-identity>


<app-step3-professional-details
  *ngSwitchCase="4"
  [formData]="formData"
  [errors]="errors"
  [isSubmitting]="isSubmitting"
  (inputChange)="onInputChange($event)"
  (submit)="submitForm()"
  (back)="goToStep(3)">
</app-step3-professional-details>


  </ng-container>  

    </ng-container>

    <!-- SUCCESS -->
    <div *ngIf="submitSuccess"
         class="bg-white rounded-2xl shadow-xl p-12 border border-gray-100 text-center">
      <div class="w-24 h-24 bg-green-100 rounded-full flex items-center justify-center mx-auto mb-6">
        <i class="ri-checkbox-circle-fill text-6xl text-green-600"></i>
      </div>
      <h2 class="text-3xl font-bold text-gray-900 mb-4">
        Registration Successful!
      </h2>
      <p class="text-lg text-gray-600 mb-8">
        Thank you for registering with GULLYHIVE. We’ll contact you soon.
      </p>
      <a routerLink="/"
         class="inline-block px-8 py-3 bg-orange-600 text-white rounded-lg hover:bg-orange-700">
        Back to Home
      </a>
    </div>

  </main>


</div>
